page-quotes {
  .author {
    color: #ccc;
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 5;
    &::before {
      content: '— ';
    }

    // A expressão abaixo pode ser substituída por &::before em SASS
    // .author:before {
    //   content: '- ';
    // }
  }

  .quote {
    font-style: italic;

    &::before {
      content: '"';
    }

    &::after {
      content: '"';
    }
  }
}
