<ion-header>

  <ion-navbar>
    <ion-title>Repositório de citações</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h3>Escolha sua citação favorita</h3>

  <ion-list>
    <!-- Comentário Raphael Gomide
      <button ion-item> Torna o botão melhor compatível à lista.
      A diretiva 'item-left' posiciona o ícone à esquerda de todos os elementos irmãos -->
    <button
      ion-item
      *ngFor="let quoteGroup of quoteCollection"
      [navPush]="quotesPage"
      [navParams]="quoteGroup"
    >
      <ion-icon
        [name]="quoteGroup.icon"
        item-left
      ></ion-icon>
      <h2>{{ quoteGroup.category | uppercase }}</h2>
      <p>{{ quoteGroup.quotes.length }} citações</p>
    </button>
  </ion-list>
</ion-content>
