<ion-header>

  <ion-navbar>
    <ion-title>Citações Favoritas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let quote of favoriteQuotes">
      <ion-item
        color="quoteBackground"
        (click)="onViewQuote(quote)"
      >
        <h2>{{ quote.person }}</h2>
        <p>{{ quote.text }}</p>
      </ion-item>

      <ion-item-options>
        <button
          ion-button
          color="danger"
          (click)="onRemoveFromFavorites(quote)"
        >
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
